.canvas {
  position: fixed;
  pointer-events: none;
  z-index: -1;
  top: 0;
  left: 50%;
  width: 100%;
  overflow: clip;
  height: 100vh;
  min-height: 1080px;
  min-width: 1080px;
  transform: translateX(-50%);
  transform-origin: center center;
  opacity: 1;
  transition: opacity 0.35s ease-out;
  background: linear-gradient(
    light-dark(#e3fae3, hsl(120, 84%, 15%)) 0%,
    light-dark(#ffffff, hsla(130, 84%, 15%, 0.4)) 50%
  );
}

.resizeHidden {
  opacity: 0;
  transition: none;
}

:global :root:has(#theme-mode-toggle:checked) canvas {
  opacity: 0.4;
}
