.container {
  margin-top: 5rlh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  font-family: "SF Mono", "Fira Code", "JetBrains Mono", monospace;
  color: "currentColor";
  h1 {
    font-size: 3rlh;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
}
.prop {
  --sizeX: 1rlh;
  --sizeY: 1rlh;

  overflow: hidden;
  font-size: 0.7rlh;
  line-height: 1.5;
  min-height: 4rlh;
  background-position: calc(1rlh - 1px) calc(1rlh - 1px);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 0px 1px #0002 inset;
  & > * {
    padding: 1rlh;
    flex: 1 0 auto;
    &:not(:first-child) {
      box-shadow: 0px 1px 0px 0 #0001 inset;
    }
  }
}
